INST "clock_ref_BUFGP" LOC = BUFGMUX_X1Y11;
NET "clock_ref" LOC = C9;
NET "reset" LOC = L13;
NET "reset" IOSTANDARD = LVTTL;
NET "reset" PULLDOWN;

NET "oRGB[0]" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "oRGB[1]" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "oRGB[2]" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "h_sync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "v_sync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
